<html>

<head>
  <title> ToDo App </title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <h2><a href="http://localhost:4000/">Home</a></h2>
    <h2> A Simple ToDo List App </h2>
    <form action="/api/addtask" method="POST">
      <input type="text" name="title" placeholder="add new task">
      <input id="today" type="date" name="dateTime">
      <button> Add Task </button>
      <h2> Added Task </h2>
      <% for( var i = 0; i < task.length; i++){ %>
      <% if (task[i].status === false) {%>
      <li><input type="checkbox" name="check" value="<%= task[i] %>" />
        <b><%= task[i].title %></b>
        <br>
          <%= task[i].date %>
        <br>
          <%= task[i].transactionHash %>
        <% } %>
      </li>
      <% } %>
      <br>
      <h2> Completed Task </h2>
      <% for( var i = 0; i < task.length; i++){ %>
      <% if (task[i].status === true) {%>
      <li><input type="checkbox" name="check" value="<%= task[i] %>" />
        <del><b><%= task[i].title %></b></del>
        <br>
          <%= task[i].date %>
        <br>
          <%= task[i].transactionHash %>
      </li>
      <% } %>
      <% } %>
      <button formaction="/api/removetask" type="submit"> Toggle </button>
    </form>
  </div>
</body>

<script>
  let today = new Date().toISOString().substr(0, 10);
  document.querySelector("#today").value = today;
</script>

</html>